/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500;600&display=swap');

/* Tailwind CSS v4 */
@import "tailwindcss";


body {
  margin: 0;
  background: #f3f0e6;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* COLORS */
.light {
  background: #f3f0e6;
  color: #222;
}

.dark {
  background: #463D2F;
  color: #ece7df;
}


.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hanken-grotesk-400 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

