/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500;600&display=swap');

/* Tailwind CSS v4 */
@import "tailwindcss";


body {
  margin: 0;
  background: #f3f0e6;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* COLORS */
/* .light { */
  /* background: #f3f0e6; */
  /* color: #222;
  --dot-bg: #161616;
  --dot-color: #848282;
  --dot-size: 1px;
  --dot-space: 50px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color); */
/* } */

.light {
  color: #222;
  /* variables */
  --dot-bg: #16161664;     /* dot color */
  --dot-fill: #f3f0e69f;   /* overall background color */
  --dot-size: .2px;       /* dot radius */
  --dot-space: 45px;     /* spacing between dots */

  /* base color */
  background-color: var(--dot-fill);

  /* two radial gradients produce a repeating dot grid with offset */
  background-image:
    radial-gradient(circle at 0 0, var(--dot-bg) var(--dot-size), transparent calc(var(--dot-size) + 1px)),
    radial-gradient(circle at calc(var(--dot-space) / 2) calc(var(--dot-space) / 2),
                    var(--dot-bg) var(--dot-size), transparent calc(var(--dot-size) + 1px));
  background-size: var(--dot-space) var(--dot-space);
  background-repeat: repeat;
}


.dark {
  background: #463D2F;
  color: #ece7df;
}


.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hanken-grotesk-400 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

